# Reference https://github.com/github/gitignore/blob/master/Go.gitignore
# Binaries for programs and plugins
*.exe

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Develop tools
.idea/
.vscode/